CS50 Final Project/app/dita/dtd/map.dtd

<!-- map.dtd -->
<!ELEMENT map (title?, topicref+)>
<!ATTLIST map id ID #REQUIRED>

<!ELEMENT topicref (topicmeta?, subtopicref*)>
<!ATTLIST topicref
    href CDATA #IMPLIED
    format CDATA #IMPLIED
    scope (local | external | peer) "local"
    type CDATA #IMPLIED
    id ID #IMPLIED>

<!ELEMENT topicmeta (title?, description?)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT subtopicref (topicref*)>
